body{
    text-align: center;
    background-color: #D0EFB1;
}

p{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #B3D89C;
    padding: 10px;
    font-family: Cambria;
    background-color: #9DC3C2;
}

h1,h2{
    background-color: #77A6B6;
    width: 80%;
    color: #FFF;
    margin: auto;
    border-left: 5px solid #4D7298;
}