
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family:'Poppins' , sans-serif;
}
body{
	background:white;
	min-height: 100vh;
	overflow-x: hidden;
}
header{
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}
.logo{
	font: size 2em;
	color: black;
}
.navigation a{
	text-decoration: none;
	color:black;
	padding: 6px;
	border-radius: 20px;
	margin: 0 10px;
	font-weight: 600;
}
.navigation a:hover,.navigation a.active
{
	background:rgb(9, 236, 240) ;
	color: white;
}
.parallax
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.parallax .text
{
	position: absolute;
	font-size: 5em;
	color: brown;
}
section.parallax img.whatsapp{
	position: relative;
	scale: 45%;
	left: 10% ;
}
section.parallax image.facebook{
	position: relative;
	scale: 10%;
	margin-left: -40px;
}
body
{
    background-image: url('imagescard/jj.jpg');
	max-width: 100%;
	max-height: 100%;
}
.card-container {
  position:absolute;
  display: flex;
  margin-left: 10%;
  margin-top: 45%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  position: relative;
  width: 180px;
  height: 200px;
  margin: 29px;
  perspective: 1000px;
}

.card-front, .card-back {
  border-style:solid;
  border-width: 5px;
  border-color: black;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 1s;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.card:hover .card-front {
  transform: rotateY(180deg);
}

.card:hover .card-back {
  transform: rotateY(0deg);
}

.card img {
  width: 100%;
  border-style: none;
  border-radius: 15px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  object-fit: cover;
}

.card button {
  position: absolute;
  bottom: 5%;
  left: 26%;
  padding: 10px;
  color: aqua;
  background-color: rgba(0, 0, 0, 0.463);
  border: 1px solid white;
  border-radius: 5px;
}

.card button a {
  text-decoration: none;
  color: white;
}
H1.heading_alt{
		font-weight: 600;
		position: absolute;
		top: 100%;
		color: white;
		font-size: 400%;
		font-family: 'Times New Roman', Times, serif;
		text-decoration:underline;
		text-shadow: 30px;
		text-decoration-color:rgba(36, 240, 91, 0.764);
		text-transform: capitalize;
}
div.part{
	position: absolute;
	top: 220%;
}
p.his{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
	font-size: 150%;
    font-family:'Times New Roman', Times, serif;
	color:antiquewhite;
}

div.part h1.history{
    font-size: 400%;
	width: 100%;
	text-align: center;
    color: black;
    margin: auto;
}